<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
             "끊임없이 배우고 성장하는 백엔드 개발자"<br><br><br>
            <b>안녕하세요. 답이 정해져있는 코드가 좋아 뒤늦게 코딩에 재미를 느끼고 
                백엔드 개발자를 꿈꾸며 열심히 성장하고 있는 임희주입니다.</b>
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                저는 개발 공부를 하며 배운 기술들을 정리하고, 느낀점들을 기록하고 있는 <a href="{{ https://blog.naver.com/dlahj1209 }}">블로그</a>를 운영하고 있습니다. 이 곳에서 저의 자바 스프링 공부 일지뿐만 아니라, 다른 개발 분야에 대한 흥미, 그리고 저의 개인적인 관심사를 볼 수 있습니다. 
                그리고 제가 공부했던 코드들 및 프로젝트 코드를 <a href="https://github.com/{{linxizhu1209}}">깃허브</a>에 올려 관리하고 있습니다. 
                마지막으로 저와 연락이 가능한 이메일 주소는 <span class="extra-link"><a href="#extra">bottom</a></span> 이곳을 클릭하면 됩니다. 감사합니다!
            </p>
        </div>
    </section>
</div>
